<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda des Combats</title>
</head>

<body>
    <h1>Agenda des Combats</h1>
    <ul>
        <% fights.forEach(fight => { %>
            <li>
                <h2><%= fight.date %> - <%= fight.opponent %> - <%= fight.location %></h2>
            </li>
        <% }) %>
    </ul>
</body>
</html>