<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>

<body>
    <h1>Bienvenue sur le site de Jimmy Lalin, boxeur professionnel</h1>
    <p>Ici, vous trouverez toutes les informations sur les dernières actualités, les combats à venir et bien plus encore.</p>
</body>
</html>
